
<ul>
        <li><a class="/active.ejs" href="home">Hem</a></li>
        <li><a href="/users.ejs">Användare</a></li>
        <li><a href="/command.ejs">Kommandon</a></li>
        <li><a href="/users.ejs">Kontakt</a></li>
</ul>
