
<ul>
        <li><a class="active" href="/home">Hem</a></li>
        <li><a href="/users">Användare</a></li>
        <li><a href="/command">Kommandon</a></li>
        <li><a href="/users">Kontakt</a></li>
</ul>
