<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KB Frontend </title>
    <link rel="stylesheet" href="/app.css">
    <!-- handwritten -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!-- header -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet"> -->

    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

</head>

<body>
    <% include partials\nav%>
    <header>
        <div class="headerHome">
            <div class="headerLeft">
                <p>- Andas -</p>
                <p>Ta en paus </p>
            </div>
            <div class="headerCenter">
                <h1>MoLy's Kunskapsbas - Frontend</h1>
                <p>Kommandon, kod och länkar jag använder.</p>
            </div>
            <div class="headerRight">️
                <% if(typeof name != "undefined") { %>
                <p><strong><%= name %></strong> ️ ️
                    ️️❤️
                </p>
                <% } %> ️️
                ️ ️️ ️️- ha en busfin dag! ️
            </div>
            <!-- <div id="headerBanner">
        </div> -->
    </header>

    <section id="sectionHome">
        <div class="infobox">
            <h4>KOMMANDON</h4>
            <a href="command">
                <img src="command.png" alt="Image command prompt">
            </a>
        </div>
        <div class="infobox">
            <h4>EXPRESS</h4>
            <img src="express.png" alt="">
        </div>
        <div class="infobox">
            <h4>NODE</h4>
            <img src="node.png" alt="">
        </div>

        <div class="infobox">
            <h4>MONGO DB</h4>
            <img src="mongodb.png" alt="">
        </div>

        <div class="infobox">
            <h4>GIT</h4>
            <img src="git2.png" alt="">
        </div>

        <div class="infobox">
            <h4>HTML</h4>
            <img src="html.png" alt="">
        </div>
        <div class="infobox">
            <h4>CSS</h4>
            <img src="css4.png" alt="">
        </div>
        <div class="infobox">
            <h4>JAVASCRIPT</h4>
            <img src="js.png" alt="">
        </div>


        <div class="infobox">
            <h4>BILDER</h4>
            <img src="öga.jpg" alt="">
        </div>
        <div class="infobox">
            <h4>CENTRERA</h4>
            <img src="vagskylt2.png" alt="">
        </div>

        <div class="infobox">
            <h4>Färger</h4>
            <img src="rgb.jpg" alt="">
        </div>

        <div class="infobox">
            <h4>Länkar</h4>
            <!-- //:Google 📗 🙋 ✔  -->


            <img src="link.png" alt="">
        </div>
    </section>
</body>

</html>